In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('train.csv', header=0)

In [15]:
# print type(df)
# print ""
print df.dtypes
print ""
# print df.info()
# print ""
# print df.describe()
# print ""
# print df['Age'][0:10]
# print ""
# print df['Cabin']
# print ""
# print df['Embarked']

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
subset = df[['Sex', 'Pclass', 'Age']]
print subset[0:10]

In [ ]:
print df[df['Age'] > 60][['Sex', 'Pclass', 'Age', 'Survived']][0:10]

In [ ]:
print df[df['Age'].isnull()][['Sex', 'Pclass', 'Age']]

In [23]:
print df[df['Embarked'].isnull()]

     PassengerId  Survived  Pclass                                       Name  \
61            62         1       1                        Icard, Miss. Amelie
829          830         1       1  Stone, Mrs. George Nelson (Martha Evelyn)

        Sex   Age  SibSp  Parch  Ticket  Fare Cabin Embarked  Gender  HadCabin
61   female  38.0      0      0  113572  80.0   B28      NaN       0         1
829  female  62.0      0      0  113572  80.0   B28      NaN       0         1

In [12]:
for i in range(1,4):
    print i, len(df[ (df['Sex'] == 'male') & (df['Pclass'] == i) ])

1 122
2 108
3 347

In [13]:
import pylab as P
df['Age'].hist()
P.show()

In [14]:
df['Age'].dropna().hist(bins=16, range=(0,80), alpha = .5)
P.show()

# Cleaning the data

Gender: Sex['Female'] = 0 | Sex['Male'] = 1
Port: Embarked[Cherbourg] = 0 | Embarked[Queenstown] = 1 | Embarked[Southanotib] = 2
HadCabin: Cabin[None] = 0 | Cabin[Not None] = 1

In [24]:
df['Gender'] = df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
# df['Port'] = df['Embarked'].map( {'C': 0, 'Q': 1, 'S': 2} ).astype(int)
# df['HadCabin'] = df['Cabin'].map( lambda x: 1 if x is not None else 0 ).astype(int)

In [25]:
median_ages = np.zeros((2,3))

for i in range(0, 2):
    for j in range(0, 3):
        median_ages[i,j] = df[(df['Gender'] == i) & (df['Pclass'] == j+1)]['Age'].dropna().median()

print median_ages

[[ 35.   28.   21.5]
 [ 40.   30.   25. ]]

In [26]:
df['AgeFill'] = df['Age']
df.head()
df[ df['Age'].isnull() ][['Gender','Pclass','Age','AgeFill']].head(10)

    Gender  Pclass  Age  AgeFill
5        1       3  NaN      NaN
17       1       2  NaN      NaN
19       0       3  NaN      NaN
26       1       3  NaN      NaN
28       0       3  NaN      NaN
29       1       3  NaN      NaN
31       0       1  NaN      NaN
32       0       3  NaN      NaN
36       1       3  NaN      NaN
42       1       3  NaN      NaN

In [28]:
for i in range(0, 2):
    for j in range(0, 3):
        df.loc[(df.Age.isnull()) & (df.Gender == i) & (df.Pclass == j+1),'AgeFill'] = median_ages[i,j]
               
df[ df['Age'].isnull() ][['Gender','Pclass','Age','AgeFill']].head(10)

    Gender  Pclass  Age  AgeFill
5        1       3  NaN     25.0
17       1       2  NaN     30.0
19       0       3  NaN     21.5
26       1       3  NaN     25.0
28       0       3  NaN     21.5
29       1       3  NaN     25.0
31       0       1  NaN     35.0
32       0       3  NaN     21.5
36       1       3  NaN     25.0
42       1       3  NaN     25.0